<style>
p {
      font-family: sans-serif;
    }

.uppercase{
  text-transform: uppercase;
}

.h1{
	color:teal;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}


.header {
    background-color: yellow;
}
</style>