.title {
  color: red;
  font-family: Georgia, serif;
  height: 100%;
  margin: 25px;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom:25px;
  padding-left: 25px;
}
.uppercase{
  text-transform: uppercase;
}
.cursive{
  font-family: cursive;
}
p {
    background-color: pink;
	text-align:justify;
	font-size:20px
}
#signature {
    color: blue;
	font-family: Arial, bold;
	text-align: center;
	
}
.back {
	background-color: teal;
	display: block;
}
img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
